<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Unicode&reg; Block: {{ block_name }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body>
  <h1 class="centered_text" id="page_title">Unicode&reg; Block: {{ block_name }}</h1>
  <table class="centered" id="char_list_table">
    <tr>
      <th>Code<br />point</th>
      <th>Example<br />glyph</th>
      <th>Character name</th>
    </tr>
    {% for item in chars %}
    <tr>
      <td>
        <a href="../{{ "%04X" % item[0] }}">{{ "U+%04X" % item[0] }}</a>
      </td>
      <td>
        <span class="centered sans-serif">&#x{{ "%04X" % item[0] }};</span>
      </td>
      <td>
        {{ item[1] }}
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
