<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ char_info['name'] }} ({{ char_info['code'] }})</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
  <h1 class="centered_text" id="page_title">{{ char_info['name'] }} ({{ char_info['code'] }})</h1>
  <hr />
  <table class="centered" id="example_glyphs_table">
    <caption>Example glyphs (rendered by browser)</caption>
    <tr>
      <th>Monospace</th>
      <th>Serif</th>
      <th>Sans Serif</th>
    </tr>
    <tr>
      <td class="sample_text mono dotted_border" id="sample_text_mono">{{ char }}</td>
      <td class="sample_text serif dotted_border" id="sample_text_serif">{{ char }}</td>
      <td class="sample_text sans-serif dotted_border" id="sample_text_sans">{{ char }}</td>
    </tr>
  </table>
  <hr />
  <table class="centered" id="character_data_table">
    <caption>Character data*</caption>
    {% for k, v in char_info.items() %}
    <tr>
      <th class="char_data_key" id="char_data_key_{{ k }}">{{ k }}</th>
      <td class="char_data_value" id="char_data_value_{{ k }}">{{ v }}</td>
    </tr>
    {% endfor %}
  </table>
  <p class="footer_text centered_text">(*) See the <a href="https://www.unicode.org/reports/tr44/#UnicodeData.txt">UnicodeData.txt section in Unicode&reg; Standard Annex #44</a> for more information on the various properties.</p>
  <table class="centered" id="supplemental_data_table">
    <caption>Supplemental character data</caption>
    {% for k, v in supplemental_info.items() %}
    <tr>
      <th class="supp_data_key" id="supp_data_key_{{ k }}">{{ v[0] }}</th>
      <td class="supp_data_value" id="supp_data_value_{{ k }}">{{ v[1] }}</td>
    </tr>
    {% endfor %}
  </table>
  <hr />
  <p class="footer_text centered_text">Character data from Unicode® Character Database (UCD) v{{ ucd_ver }}.  See the <a href="https://unicode.org">Unicode&reg; Consortium website</a> for more information.</p>
</body>
</html>
